<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mz.mapper.BoardMapper">
	
<!-- resultMap -->

	<resultMap type="mz.dto.BoardGroup" id="bgrResult">
		<id column="bgr_id" property="id" />
		<result column="bgr_key" property="key" />
		<result column="bgr_name" property="name" />
	</resultMap>

	<resultMap type="mz.dto.Category" id="cateResult">
		<id column="brd_cate_id" property="id" />
		<result column="brd_cate_key" property="key" />
		<result column="brd_cate_name" property="name" />
		<result column="brd_parent" property="parentId" />
		<result column="brd_cate_order" property="order" />
		
		<association column="bgr_id" property="bgr" select="selectBoardGroupById" fetchType="lazy"/>
	</resultMap>
	
	<resultMap type="mz.dto.Board" id="boardResult">
		<id column="brd_id" property="id" />
		<result column="brd_title" property="title" />
		<result column="mem_nickname" property="member.nickname"/>
		<result column="brd_content" property="content" />
		<result column="brd_hit" property="hit" />
		<result column="regdate" property="regDate" />
		
		<association column="mem_id" property="member" select="mz.mapper.MemberMapper.selectMemberById" fetchType="lazy"/>
		<association column="bgr_id" property="bgr" select="selectBoardGroupById" fetchType="lazy"/>
		
	</resultMap>


<!-- sql  -->	

	<sql id = "bgrSelectSql">
		select bgr_id, bgr_key, bgr_name from board_group 
	</sql>
	
	<sql id ="cateSelectSql">
		select brd_cate_id, board_group_id, brd_cate_key, brd_cate_name, brd_parent, brd_cate_order from board_cate
	</sql>
	
	<sql id = "boardSelectSql">
		select brd_id, bgr_id, mem_id, brd_title, brd_content, brd_hit, regdate from board
	</sql>
	
<!-- paging -->
	
	<select id="pagingSelectBoardByAll" resultMap="boardResult">
		SELECT A.*
			FROM (SELECT ROWNUM AS RNUM, B.*
				FROM (SELECT brd_id, 
						bgr_id, 
						mem_id, 
						mem_nickname,
						brd_title, 
						brd_content, 
						brd_hit, 
						regdate 
						FROM board where bgr_id = #{id} 
							<if test = 'cond != null and cond.equals("brd_title")'>
								and brd_title like '%' || #{keyword} || '%'
							</if> 
							<if test = 'cond != null and cond.equals("mem_nickname")'>
								and mem_nickname like '%' || #{keyword} || '%'
							</if> 
							ORDER BY REGDATE desc )B)A
			WHERE A.RNUM BETWEEN #{cri.rowStart} AND #{cri.rowEnd}
				ORDER BY A.RNUM
	</select>
	
	<select id="countSelectBoardByAll" resultType="int">
		SELECT count(a.brd_id)
			FROM (SELECT ROWNUM AS RNUM, B.*
				FROM (SELECT brd_id, 
						bgr_id, 
						mem_id, 
						mem_nickname,
						brd_title, 
						brd_content, 
						brd_hit, 
						regdate
				FROM board where bgr_id = #{id} 
					<if test = 'cond != null and cond.equals("brd_title")'>
								and brd_title like '%' || #{keyword} || '%'
							</if> 
							<if test = 'cond != null and cond.equals("mem_nickname")'>
								and mem_nickname like '%' || #{keyword} || '%'
							</if> 
			)B)A
			
	</select>
	
<!-- 게시판  -->
	<select id="selectBoardByAll" resultMap="boardResult">
		<include refid="boardSelectSql"></include>
	</select>
	
	<select id = "selectBoardByGroup" resultMap="boardResult" >
		<include refid="boardSelectSql"></include>
		where bgr_id = #{bgr.id}
	</select>
	
	<select id ="getBoardByGroupKey" resultMap="bgrResult">
		<include refid="bgrSelectSql"></include>
		where bgr_key like '' || #{key} || ''
	</select>
	
	<select id = "selectBoardById" resultMap="boardResult">
		<include refid="boardSelectSql"></include>
		where brd_id = #{id}
	</select>
	

	

<!-- 게시판 종류 -->
	<select id="selectBoardGroupByAll" resultMap="bgrResult">
		<include refid="bgrSelectSql"></include>
	</select>
	
	<select id ="selectBoardGroupById" resultMap="bgrResult" >
		<include refid="bgrSelectSql"></include>
		 where bgr_id = #{id}
	</select>

<!-- insert -->

	<insert id="insertGnrBoard" parameterType="mz.dto.Board">
		insert into board(brd_id, bgr_id, mem_id, mem_nickname, brd_title, brd_content) 
		values ( brd_seq.nextval, #{bgr.id}, #{member.id}, #{member.nickname}, #{title}, #{content} )
	</insert>
	
<!-- update -->
	<update id="updateGnrBoard" >
		update board
			<set>
				<if test = "title != null"> brd_title = #{title},  </if>
				<if test = "content != null"> brd_content = #{content}</if>
			</set>
		where brd_id = #{id}
	</update>
	
<!-- delete -->
	<delete id="deleteGnrBoard">
		delete from board where brd_id = #{id}
	</delete>
</mapper>